html, body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header
{
    width: 100%;
    height: 15%;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 2;
}

.logout
{
    width: 80px;
    height: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 70%;
    left: 95%;
    transform: translate(-50%, -50%);

    background-color: aquamarine;
}

.logout img
{
    width: 80px;
    height: 80px;
    
}

.logout p
{
    margin-top: 1px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 25px;
}

.torpedocontainer
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 25px;
}

.torpedo-image {
    position: absolute;
    width: 63px;
    height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.explosion {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    animation: expand 1s forwards;
    z-index: 10;
}

@keyframes shoot {
    from {
        left: 90%;
    }
    to {
        left: 10%;
    }
}

@keyframes expand {
    from {
        opacity: 1;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(20); /* Scale up to cover the screen */
    }
}

.background
{
    background-image: url(Assets/Background.png);

    background-size: cover;
    width: 100%;
    height: 100vh;
    resize: both;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background img
{
    width: 600px;
    height: 100px;
}

.effect
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 0;


    width: 100%;
    height: 100vh;
    border-radius: 10px;
    overflow: hidden;
}

.bubble {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.7;
    animation: rise 5s linear infinite;
}

@keyframes rise {
    0% {
        bottom: 0;
        transform: translateX(0) scale(0.5);
        opacity: 0.7;
    }
    100% {
        bottom: 100%;
        transform: translateX(-50px) scale(1);
        opacity: 0;
    }
}

.container
{
    background-color: rgb(255, 255, 255, 0.5);

    width: 70%;
    height: 70%;

    border-radius: 15px;

    margin-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item
{
    background-color: rgb(133, 160, 164, 0.8);

    flex: 2;

    z-index: 1;

    width: 30%;
    height: 90%;

    border-radius: 20px;

    margin: 0 10px 0 10px;

    transition: flex-basis 1s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    cursor: pointer;
}

.item:hover
{
    flex-basis: 30%;
}

.item p
{
    text-align: center;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.containerkapalcelam {
    position: relative;
    width: 450px;
    height: 200px;
}

#kapalcelam {
    width: 400px;
    height: 150px;
    position: absolute; /* Ensure absolute positioning for animation */
    left: 0; /* Starting position */
}

.animate-pew {
    animation: pew 2s forwards;
}

@keyframes pew {
    0% {
        left: 0;
    }
    100% {
        left: 500px; /* Move to the left by 200 */
    }
}